.Circuloext {
  
    width:300px;
    height:300px;
    border-radius:150px;
    background:blue;
    z-index: 100;
    display:flex;
    justify-content: space-around;
}

.Circulo {
    margin:auto;
    z-index: 10;
    width:280px;
    height:280px;
    border-radius:150px;
    background:white;
    display:flex;
    justify-content: space-around;
  
}

.Circuloint {
    z-index: 5;
    width:60px;
    height:60px;
    margin:auto;
    border-radius:150px;
    background:black;
}

.container
{
    width: 400px;
    margin: auto;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.parte5
{
    width:240px;
    height:240px;

}

.parte4
{
    width:200px;
    height:200px;
}

.parte3
{
    width:160px;
    height:160px;  
}
.parte2
{
    width:120px;
    height:120px;  
}
.parte1
{
    width:100px;
    height:100px;  
}
.parte0
{
    width:80px;
    height:80px;  
}
